{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock %} </title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

    <script defer type="text/javascript" src="{% static 'assets/js/wgo/wgo.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex ms-auto navbar">
             {% if user.is_authenticated %}
               <ul class="navbar  ms-auto" style="display: flex">
                   <li class="nav-item text-dark d-block">
                       <a class="nav-link capitalize fw-bold text-dark" href="#">username: {{ user.username }}</a>
                   </li>
                   <li class="nav-item d-block">
                       <a class="nav-link text-white btn btn-danger"  href="{% url 'logout' %}">Logout</a>
                   </li>
                </ul>
            {% endif %}
            
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>