{% extends '../layout.html' %}
{% block title %}
    home
{% endblock %}

{% block content %}
      <main class="container">
        <h1 class="text-uppercase fw-bolder text-warning mx-auto block shadow-lg text-center my-5 p-2">jeu de go</h1>

        <section class="">
            <div class="list-group gap-4 align-items-center">
            <a href="/problems" class="button text-center list-group-item rounded-pill p-2 w-50 text-capitalize fw-bold">problemes</a>
            <a href="/games" class="button text-center list-group-item rounded-pill p-2 w-50 text-capitalize fw-bold">listes des parties</a>
            <button class="list-group-item rounded-pill p-2 w-50 text-capitalize fw-bold">aide et documentation</button>
            <button class="list-group-item rounded-pill p-2 w-50 text-capitalize fw-bold">statistiques</button>
        </div>
        </section>
    </main>
{% endblock %}