{% extends '../layout.html' %}

{% block title %}
    problem list
{% endblock %}
{% load static %}

{% block content %}
     <script defer type="text/javascript" src="{% static 'assets/js/wgo/wgo.js' %}"></script> <!-- or tenuki.js -->
    <script defer src="{% static 'assets/js/problems.js' %}"></script>
    <nav aria-label="breadcrumb" class="shadow p-2 position-sticky top-0 bg-white" style="z-index: 5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="fw-semibold" href="/">Home</a></li>
            <li class="breadcrumb-item"><a class="fw-semibold" href="/problems">Problem_List</a></li>
            <li class="breadcrumb-item active fw-bolder text-capitalize" aria-current="page">problem_detail</li>
        </ol>
    </nav>
      <main class="container">

      <script id="black-positions" type="application/json">{{ black_positions|escapejs }}</script>
<script id="white-positions" type="application/json">{{ white_positions|escapejs }}</script>
          <script id="solution-positions" type="application/json">{{ solution|escapejs }}</script>

              <h1 class="text-warning fw-bolder text-center text-uppercase my-5">problem detail</h1>
               <div id="problem-board" class="mx-auto"></div>
  
    <h1 class="text-center">{{ problem.description }}</h1>
          <button id="solutionBtn " class="btn btn-warning">Voir Solution</button>

    </main>
{% endblock %}